/* vietnamese */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), asset-url('font-vietnamese/QldKNThLqRwH-OJ1UHjlKGlW5qhWxg.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), asset-url('font-vietnamese/QldKNThLqRwH-OJ1UHjlKGlX5qhWxg.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), asset-url('font-vietnamese/QldKNThLqRwH-OJ1UHjlKGlZ5qg.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), asset-url('font-vietnamese/QldXNThLqRwH-OJ1UHjlKGHiw71m5_zIDQ.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), asset-url('font-vietnamese/QldXNThLqRwH-OJ1UHjlKGHiw71n5_zIDQ.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), asset-url('font-vietnamese/QldXNThLqRwH-OJ1UHjlKGHiw71p5_w.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: #272822;
  color: #d2d2d2;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.725;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font: 17px/1.6em inconsolata, "Lucida Sans Typewriter", "Lucida Console", monaco, Menlo, "Bitstream Vera Sans Mono", Consolas, monospace
}

blockquote {
  margin: 0;
  background: inherit;
  color: #2bbc8a;
  padding-left: 15px;
  border-left: 3px solid #2bbc8a;
  background: none;
}

canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s
}

.animated.hinge {
  -webkit-animation-duration: 1s;
  animation-duration: 1s
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown
}
.container {
  width: 650px;
  height: 100%;
  margin: auto;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-lg-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  position: relative;
  min-height: 1px;
}
.col-lg-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  min-height: 1px;
}
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  min-height: 1px;
}
.col-lg-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  min-height: 1px;
}
.col-lg-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  min-height: 1px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

a {
  color: #E6DB74;
  text-decoration: none;
}
a:hover {
  color: #66D9EF;
}

.header {
  text-align: center;
}
.header .logo .img-logo {
  width: 200px;
}
.header .name-author {
  font-weight: bold;
  font-size: 24px;
}
.header .name-author .name {
  color: #FF9800;
}
.header .description-author p {
  color: #66D9EF;
}
.header .section-breadcrumb .breadcrumb {
  margin-bottom: 20px;
  list-style: none;
  padding: 8px 15px;
  text-align: center;
}
.header .section-breadcrumb .breadcrumb li {
  display: inline-block;
}
.header .section-breadcrumb .breadcrumb li a{
  font-size: 18px;
}
.header .section-breadcrumb .breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "&\00a0";
}
.header .section-breadcrumb .breadcrumb-hr  {
  margin-top: -15px;
}
.breadcrumb-hr {
  border-color: #58606b;
}
.content .welcome p {
  color: #E6DB74;
}
.content .welcome p .name-account {
  color:  #FF9800;
  font-weight: bold;
}
.content .title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  text-align: left;
  padding: 0;
}
.content .title span {
  color: #F92672;
}
.content .list-article .article {
  padding-left: 25px;
  padding-right: 25px;
  height: 30px;
  color: #E6DB74;
}
.content .list-article .article .title-article {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .pagination {
  color: #F92672;
  font-size:  20px;
}
.content .form-login {
  border: 1px dashed #E6DB74;
  padding: 131px;
  text-align: center;
}
.content .form-login a {
  background: #3b5998;
  color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
}
.footer {
  position: fixed;
  text-align: center;
  margin-top: 20px;
  color: #E6DB74;
  width: 650px;
  bottom: 0;
}
.front-pagination {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  height: 15px;
}
.front-pagination li {
  list-style-type: none;
  line-height: 0;
}
.front-pagination li.next {
  position: absolute;
  right: 0;
}
.front-pagination li.prev {
  position: absolute;
  left: 0;
}
.front-pagination li a {
  font-size: 18px;
}
.article-title {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 10px;
  position: relative;
}
.article-title p {
  margin-left: 30px;
  color: #66D9EF;
}
.article-title .btn-reply {
  background-color: #164170;
  width: 30px;
  color: #fff;
  height: 30px;
  line-height: 30px !important;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 16px
}
.article-content {
  background: #000000ad;
  border-radius: 10px;
  color: #dfa000;
  padding: 1px 15px;
}
.article-content img {
  width: 100% !important;
  height: auto !important;
}
 #toTop {
  width: 55px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
  background: #164070;
  color: #fff;
  position: fixed;
  bottom: 5%;
  right: 29%;
  display: none;
  padding-top: 15px;
  cursor: pointer;
}
